<?xml version="1.0" encoding="utf-8"?>
<packages>
	<!-- Python -->
	<!-- TODO: find the scoop packages for these -->
	<package id="python2" />
	<package id="python3" />

	<!-- 010 Editor (hex editor) -->
	<!-- TODO: write a scoop package for this -->
	<package id="010editor.install" />

	<!-- CFF Explorer (PE format viewer) -->
	<!-- TODO: consider using scoop with https://github.com/TheCjw/scoop-retools/blob/master/bucket/cff-explorer.json -->
	<package id="explorersuite" />
</packages>
