# IPython interpreter
ipython
# IPython autoimport extension
ipython-autoimport

# for Jupyter notebooks in VSCode
ipykernel

# MOAR ITERTOOLS
more-itertools

# colored terminal text
colorama

# HTTP library
requests

# HTTP library with HTML parsing
requests-html

# HTML parsing
BeautifulSoup4

# packet sniffer and manipulation library
# TODO: maybe pyshark?
scapy

# isolated python environment manager
virtualenv

# progress bars
tqdm

# image library
Pillow

# parse EXIF data from JPG images
piexif

# hash algorithms for checking image similarity
ImageHash

# fast number arrays manipulation
numpy

# scientific libraries
scipy
scikit-learn
sympy

# computer vision library
opencv-python

# data manipulation and analysis
pandas
# parse XLSX files with pandas
openpyxl

# plots
matplotlib

# graphs
networkx

# parse PE files
pefile
# parse ELF files
pyelftools

# git's filter-repo command
git-filter-repo

# parse and create PDF files
PyPDF4
pikepdf
pdfminer

# Kaitai Struct
kaitaistruct

# struct parser
construct

# CTF utilities
pwntools; os_name == 'posix'

# crypto algorithms
pycrypto
pycryptodome
cryptography

# game framework
pygame

# web framework
Flask

# database ORM
SQLAlchemy

# docker-compose command
docker-compose

# disassembler
capstone

# Win32 API bindings
pywin32

# serial port API for COM over USB
pyserial

# jupyter notebook (GUI REPL)
jupyter

# linter
pylint

# style linter
black

# refactoring utilities
rope
bowler

# code metrics utilities
wily
radon

# PyPI package publisher
twine

# to install packages from source
setuptools
wheel

# python2 backports
pathlib2; python_version < '3'
enum34; python_version < '3'
subprocess32; python_version < '3'

# how to restrict to specific version/os:
# https://peps.python.org/pep-0508/#environment-markers
