# IPython interpreter
ipython
# IPython autoimport extension
ipython-autoimport

# colored terminal text
colorama

# HTTP library
requests

# HTTP library with HTML parsing
requests-html

# HTML parsing
BeautifulSoup4

# packet sniffer and manipulation library
# TODO: maybe pyshark?
scapy

# isolated python environment manager
virtualenv

# image library
Pillow

# parse EXIF data from JPG images
piexif

# hash algorithms for checking image similarity
ImageHash

# fast number arrays manipulation
numpy

# computer vision library
opencv-python

# data manipulation and analysis
pandas

# parse PE files
pefile

# parse ELF files
pyelftools

# git's filter-repo command
git-filter-repo

# parse and create PDF files
pypdf4

# Kaitai Struct
kaitaistruct

# struct parser
construct

# CTF utilities
pwntools

# crypto algorithms
pycrypto
cryptography

# game framework
pygame

# web framework
Flask

# database ORM
SQLAlchemy

# docker-compose command
docker-compose

# disassembler
capstone

# Win32 API bindings
pypiwin32

# serial port API for COM over USB
pyserial

# jupyter notebook (GUI REPL)
jupyter

# linter
pylint

# style linter
black

# refactoring utilities
rope
bowler

# code metrics utilities
wily
radon

# PyPI package publisher
twine

# to install packages from source
setuptools
wheel

# python2 backports
pathlib2; python_version < '3'
enum34; python_version < '3'
subprocess32; python_version < '3'
